body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 24px
}

.loader {
  position: absolute;
  left: calc(50vw - 20px);
  top: calc(50vh - 20px);
}

.appbar {
  .logo {
    width: 134px;
  }
}

.flexGrow {
  flex-grow: 1
}

@mixin btn() {
  text-transform: none !important;
  font-weight: bold !important;
  letter-spacing: -0.5px !important;
}

.btn {
  @include btn();
}

.btnLogin {
  width: 200px;
  left: calc(50vw - 100px);
  top: calc(50vh - 100px);
}

.imgBookItem {
  padding-top: 100%
}

.titleBookItem {
  font-weight: 600;
}

a {
  text-decoration: none;
}